- var noHome = false
- function createDirect(category) {
-   var obj = { src: category, href: '', status: '' };
-   if (!category) {
-     return obj;
-   }
-
-   if (category.type === 'links') {
-     obj.href = `href="${category.value}"`;
-   } else if (category.type === 'article') {
-     obj.href = `href="/article/${category.value}"`;
-   } else {
-     obj.href = `href="/category/${category.name}"`;
-   }
-
-   if (category._id.toString() === conditions.category_id) {
-     obj.status = 'current';
-     noHome = true;
-   }
-   return obj;
- }
- var left_categories = categories.filter(category => category.position === 'left').map(createDirect)
- var right_categories = categories.filter(category => category.position === 'right').map(createDirect)
- var home_status = '';
- if (!noHome) {
-   home_status = 'current';
- }
-
- function conditionTagsUrl(tags, current_tag) {
-   if (tags.length > 1) {
-     return 'tag/' + tags.filter(tag => tag !== current_tag).toString()
-   } else {
-     return ''
-   }
- }

header(role="banner")
  each category in left_categories
    if category.src
      !=`<a ${category.status} ${category.href}>${category.src.name}</a>`
  !=`<a ${home_status} href="/">首頁</a>`
  each category in right_categories
    if category.src
      !=`<a ${category.status} ${category.href}>${category.src.name}</a>`

div.page-shadow
if conditions.tags
  div.conditions
    ul.tag-selected
      each ct in conditions.tags
        li
          a(href=`${category_prefix}/${conditionTagsUrl(conditions.tags, ct)}`)
            =ct
